// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Sen:wght@400;800&display=swap');

$fuente_principal:'Sen', sans-serif;
$fuente_titulos: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXl: 1230px;

// Colores
$azul: #005e8d;
$rojo: #850000;
$verde:#84b73c;
$negro: #111111;
$blanco: #FFFFFF;
$gris: #757575;
$dorado: #ffca18;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900